Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  filter-compiler:
    jobs:
      - path-filtering/filter:
          name: Ignore compiler-only changes
          config-path: .circleci/runtime_config_DEPRECATED.yml
          base-revision: << pipeline.git.branch >>
          mapping: |
            compiler/.*             enabled false

            .circleci/.*            enabled true
            .codesandbox/.*         enabled true
            fixtures/.*             enabled true
            packages/.*             enabled true
            scripts/.*              enabled true
            .eslintignore           enabled true
            .eslintrc.js            enabled true
            .git-blame-ignore-revs  enabled true
            .gitattributes          enabled true
            .gitignore              enabled true
            .nvmrc                  enabled true
            .prettierignore         enabled true
            .prettierrc.js          enabled true
            .watchmanconfig         enabled true
            babel.config.js         enabled true
            dangerfile.js           enabled true
            netlify.toml            enabled true
            package.json            enabled true
            ReactVersions.js        enabled true
            yarn.lock               enabled true

Update
  .github/workflows/runtime_build_and_test.yml
Due: none

Tag all user space call sites with the "react-stack-bottom-frame" name
  packages/react-reconciler/src/ReactFiberCallUserSpace.js
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-server/src/ReactFizzCallUserSpace.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightCallUserSpace.js
  packages/react-server/src/ReactFlightServer.js
Due: enabled

WIP(react-client): add 70453typeof to server references
  packages/react-client/src/ReactFlightReplyClient.js
Due: enabled

Log proper error when trying to render a lazy fragment
  packages/react-reconciler/src/ReactFiberBeginWork.js
  packages/react-reconciler/src/__tests__/ReactLazy-test.internal.js
Due: enabled

Add _debugStack and _debugTask under enableObjectFiber flag
  packages/react-reconciler/src/ReactFiber.js
Due: enabled

[ci][ez] Rename artifact from process_artifacts_combined
  .github/workflows/runtime_build_and_test.yml
Due: none

Update
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

Update (base update)
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

Revert "[Fizz] Refactor Component Stack Nodes (#30298)"
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzServerNode-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMEdge-test.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
  scripts/babel/transform-prevent-infinite-loops.js
Due: enabled

[compiler] When preserving user-level useMemos, don't memoize arguments
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeFbtAndMacroOperandsInSameScope.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved-nomemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
Due: enabled=false

[compiler] Make compiler aware of whether a local binding is constlike or not
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
Due: enabled=false

[compiler] In change detection, assign reactive scopes to values that may have changed between renders
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/MergeOverlappingReactiveScopesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReactivePlaces.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateMemoizedEffectDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidatePreservedManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-pruned-dependency-change-detect.expect.md
Due: enabled=false

[compiler][patch] Fix jsx non-ascii regex pattern
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-unicode.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-unicode.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-params.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-params.js
Due: enabled=false

Update on "[compiler][patch] Fix jsx non-ascii regex pattern"
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false
