Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  filter-compiler:
    jobs:
      - path-filtering/filter:
          name: Ignore compiler-only changes
          config-path: .circleci/runtime_config_DEPRECATED.yml
          base-revision: << pipeline.git.branch >>
          mapping: |
            compiler/.*             enabled false

            .circleci/.*            enabled true
            .codesandbox/.*         enabled true
            fixtures/.*             enabled true
            packages/.*             enabled true
            scripts/.*              enabled true
            .eslintignore           enabled true
            .eslintrc.js            enabled true
            .git-blame-ignore-revs  enabled true
            .gitattributes          enabled true
            .gitignore              enabled true
            .nvmrc                  enabled true
            .prettierignore         enabled true
            .prettierrc.js          enabled true
            .watchmanconfig         enabled true
            babel.config.js         enabled true
            dangerfile.js           enabled true
            netlify.toml            enabled true
            package.json            enabled true
            ReactVersions.js        enabled true
            yarn.lock               enabled true

[Fizz] Don't perform work when closing
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Update
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_nightly.yml
Due: none

[ci] Fix prereleases reusable workflow
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_nightly.yml
Due: none

Update
  scripts/release/shared-commands/get-build-id-for-commit.js
  scripts/release/shared-commands/parse-params.js
Due: enabled

Update
  scripts/jest/config.base.js
  scripts/jest/jestSequencer.js
Due: enabled

Update (base update)
  scripts/release/shared-commands/get-build-id-for-commit.js
  scripts/release/shared-commands/parse-params.js
Due: enabled

Update
  packages/react/src/__tests__/ReactClassEquivalence-test.js
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/stats.js
Due: enabled

Update (base update)
  scripts/jest/config.base.js
  scripts/jest/jestSequencer.js
  scripts/release/shared-commands/get-build-id-for-commit.js
  scripts/release/shared-commands/parse-params.js
Due: enabled

[ci] Fix ci prep script
  scripts/release/shared-commands/get-build-id-for-commit.js
  scripts/release/shared-commands/parse-params.js
Due: enabled

[ci] Remove jestSequencer
  scripts/jest/config.base.js
  scripts/jest/jestSequencer.js
Due: enabled

[ci] Remove references to CIRCLE_NODE_{TOTAL,INDEX}
  packages/react/src/__tests__/ReactClassEquivalence-test.js
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/stats.js
Due: enabled

Update
  README.md
Due: none

[compiler] Repro: updates to globals should be retained
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-invalid-update-global-should-bailout.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-invalid-update-global-should-bailout.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-update-global-in-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-update-global-in-callback.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler][repro] Test fixture for fbt plural bug
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-multiple-fbt-plural.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-multiple-fbt-plural.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler] patch: retain UpdateExpression for globals
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-invalid-update-global-should-bailout.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.update-global-should-bailout.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.update-global-should-bailout.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/update-global-in-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/update-global-in-callback.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler] Todo for fbt with multiple pronoun/plural
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-multiple-fbt-plural.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-multiple-fbt-plural.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-multiple-fbt-plural.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-multiple-fbt-plural.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-jsxtext.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-jsxtext.js
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler] Fix FBT whitespace handling again (again (again))
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-preserve-whitespace-param.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-preserve-whitespace-param.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-subtree.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-subtree.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-two-subtrees.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-two-subtrees.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[ez] Remove circleci badge from readme
  README.md
Due: none

Update
  .github/workflows/runtime_prereleases.yml
Due: none

[ci] Fix prerelease script npm authtoken
  .github/workflows/runtime_prereleases.yml
Due: none

[Fizz] Don't perform work when closing (#30497)
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

[Fizz] Allow aborting during render
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Update
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_manual.yml
  .github/workflows/runtime_prereleases_nightly.yml
Due: none

[Fizz] Don't perform work when closing (#30497)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

[ci] Fix passing secrets to runtime_prereleases
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_manual.yml
  .github/workflows/runtime_prereleases_nightly.yml
Due: none

[DevTools] Rename Fiber to Element in the Bridge Protocol and RendererInterface (#30490)
  .eslintrc.js
  packages/react-devtools-extensions/src/contentScripts/renderer.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/index.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/profilingHooks.js
  packages/react-devtools-shared/src/backend/shared/DevToolsComponentStackFrame.js
  packages/react-devtools-shared/src/backend/shared/DevToolsConsolePatching.js
  packages/react-devtools-shared/src/backend/shared/DevToolsOwnerStack.js
  packages/react-devtools-shared/src/backend/shared/ReactSymbols.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/backendAPI.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js
  packages/react-devtools-shared/src/frontend/types.js
Due: enabled

Rename NativeElement terms to HostInstance in the frontend
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitFlamegraph.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitRanked.js
  packages/react-devtools-shared/src/devtools/views/hooks.js
Due: enabled

Fiber renderer
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Due: enabled

Rename Native in legacy renderer
  packages/react-devtools-shared/src/backend/legacy/renderer.js
Due: enabled

supportsNativeConsoleTasks -> supportsConsoleTasks
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
Due: enabled

Rename NativeElementsPanel to BuiltinElementsPanel
  packages/react-devtools-extensions/src/main/elementSelection.js
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/hooks.js
Due: enabled

Rename NativeNode to HostInstance in the RendererInterface
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/backend/views/TraceUpdates/canvas.js
  packages/react-devtools-shared/src/backend/views/TraceUpdates/index.js
Due: enabled

Clarify types when they're React Native vs HTMLElement
  packages/react-devtools-shared/src/backend/views/Highlighter/Highlighter.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/backend/views/utils.js
Due: enabled

Rename NativeElement to HostInstance in the Bridgd
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitFlamegraph.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitRanked.js
  packages/react-devtools-shared/src/devtools/views/hooks.js
Due: enabled

Rename start/stopInspectingNative to InspectingHost in the Bridge
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectHostNodesToggle.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
Due: enabled
