Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  filter-compiler:
    jobs:
      - path-filtering/filter:
          name: Ignore compiler-only changes
          config-path: .circleci/runtime_config_DEPRECATED.yml
          base-revision: << pipeline.git.branch >>
          mapping: |
            compiler/.*             enabled false

            .circleci/.*            enabled true
            .codesandbox/.*         enabled true
            fixtures/.*             enabled true
            packages/.*             enabled true
            scripts/.*              enabled true
            .eslintignore           enabled true
            .eslintrc.js            enabled true
            .git-blame-ignore-revs  enabled true
            .gitattributes          enabled true
            .gitignore              enabled true
            .nvmrc                  enabled true
            .prettierignore         enabled true
            .prettierrc.js          enabled true
            .watchmanconfig         enabled true
            babel.config.js         enabled true
            dangerfile.js           enabled true
            netlify.toml            enabled true
            package.json            enabled true
            ReactVersions.js        enabled true
            yarn.lock               enabled true

Update
  .circleci/config.yml
Due: enabled

Update (base update)
  .circleci/config.yml
Due: enabled

Update
  .github/workflows/runtime_build_and_test.yml
Due: none

Update (base update)
  .circleci/config.yml
  .github/workflows/runtime_build_and_test.yml
Due: enabled

Update (base update)
  .github/workflows/runtime_build_and_test.yml
Due: none

[ci] Remove DevTools jobs from circleci build_and_test
  .circleci/config.yml
Due: enabled

[ci] Remove check_error_codes from circleci
  .circleci/config.yml
Due: enabled

[ci] Add check_error_codes to gh actions
  .github/workflows/runtime_build_and_test.yml
Due: none

[ci] Remove some circleci jobs
  .circleci/config.yml
Due: enabled

[ci] Add RELEASE_CHANNEL_stable_yarn_test_dom_fixtures to gh actions
  .github/workflows/runtime_build_and_test.yml
Due: none

[ci] Remove run_fixtures_flight_tests from circleci
  .circleci/config.yml
Due: enabled

[ci] Add run_fixtures_flight_tests to gh actions
  .github/workflows/runtime_build_and_test.yml
Due: none

[ci] Remove RELEASE_CHANNEL_stable_yarn_test_dom_fixtures from circleci
  .circleci/config.yml
Due: enabled

fix(compiler): Align return types of `ErrImp<E>` and `OkImpl<T>` with `Result<T, E>` for TS 5.5 (#30345)
  compiler/packages/babel-plugin-react-compiler/src/Utils/Result.ts
Due: enabled=false

[compiler] Show outlined functions in logging, playground
  compiler/apps/playground/components/Editor/EditorImpl.tsx
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PrintReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/Utils/logger.ts
Due: enabled=false

[compiler] Store babel scope on Environment
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
Due: enabled=false

[compiler] Refactor Program to use queue of functions to compile
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
Due: enabled=false

[compiler] Fixture for function outlining
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlined-helper.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlined-helper.js
Due: enabled=false

[compiler][be] Promote destructured params to temporaries
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlined-destructured-params.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlined-destructured-params.js
Due: enabled=false

Update getComments.js
  scripts/babel/getComments.js
Due: enabled

Update .gitignore that some files are must not be vesible for the public
  .gitignore
Due: enabled
