Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

Replace indexOf with includes
  scripts/bench/runner.js
Due: enabled

Indentation
  scripts/devtools/utils.js
Due: enabled

[compiler] useMemo calls directly induce memoization blocks
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeExistingUseMemos.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MergeReactiveScopesThatInvalidateTogether.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneUnusedScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.js
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

[compiler] Drop useMemos in memoization disabled mode, don't bail from source-level memo blocks
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved-nomemo.expect.md
Due: enabled=false

[compiler] More fine-grained memoization in change detection mode
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-and-other-hook-unpruned-dependency.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-pruned-dependency-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-unpruned-dependency.expect.md
Due: enabled=false

Update `react-refresh-webpack-plugin` in Flight fixture
  fixtures/flight/package.json
  fixtures/flight/playwright.config.js
  fixtures/flight/yarn.lock
Due: enabled

Update `react-refresh-webpack-plugin` in Flight fixture (#30156)
  fixtures/flight/package.json
  fixtures/flight/playwright.config.js
  fixtures/flight/yarn.lock
Due: enabled

[Flight Server] Run Server Components in console.createTask when available (#30140)
  fixtures/flight/package.json
  packages/react-server/src/ReactFlightServer.js
Due: enabled

Run console.createTask during SSR when available
  fixtures/flight/package.json
  packages/react-server/src/ReactFizzServer.js
Due: enabled

[Fizz] Run console.createTask during SSR when available (#30142)
  fixtures/flight/package.json
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Update (base update)
  .circleci/config.yml
  .github/workflows/runtime_build.yml
  packages/react-devtools-shared/src/__tests__/storeStressTestConcurrent-test.js
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/build-ghaction.js
  scripts/rollup/stats.js
Due: enabled

Update
  .github/workflows/runtime_build.yml
Due: none

Update another test
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
Due: enabled

Format owner stack in captureOwnerStack
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzCallUserSpace.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Track owner and stacks for component stack nodes
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Fix test
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
Due: enabled

Track current owner in Fizz using the current task
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server/src/ReactFizzAsyncDispatcher.js
  packages/react-server/src/ReactFizzCurrentTask.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Add owner based debug information to key warning
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

chore[react-devtools/ui]: fix strict mode badge styles (#30159)
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
Due: enabled

[Fizz] Enable owner stacks for SSR (#30152)
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-dom/src/__tests__/ReactServerRendering-test.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-server/src/ReactFizzAsyncDispatcher.js
  packages/react-server/src/ReactFizzCallUserSpace.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzCurrentTask.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

[Fizz] Enable owner stacks for SSR (#30152)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

chore[react-devtools/renderer]: dont show strict mode warning for prod renderer builds
  packages/react-devtools-shared/src/backend/renderer.js
Due: enabled

chore[react-devtools/renderer]: dont show strict mode warning for prod renderer builds (#30158)
  packages/react-devtools-shared/src/backend/renderer.js
Due: enabled

test: add test
  packages/react-devtools-shared/src/__tests__/utils-test.js
  packages/react-devtools-shared/src/hooks/SourceMapConsumer.js
  packages/react-devtools-shared/src/hooks/parseHookNames/parseSourceAndMetadata.js
  packages/react-devtools-shared/src/symbolicateSource.js
Due: enabled

feat(react-compiler): add reactiveConditionHelper
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Imports.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/react-compiler-runtime/src/index.ts
Due: enabled=false

fix: prettier
  packages/react-devtools-shared/src/__tests__/utils-test.js
Due: enabled

revert(codegen-reactive): revert preface change
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

[compiler][playground] Formatting changes to pass tabs
  compiler/apps/playground/components/Editor/Output.tsx
Due: enabled=false

[compiler] Flow support for playground
  compiler/apps/playground/components/Editor/EditorImpl.tsx
  compiler/apps/playground/components/Editor/Input.tsx
  compiler/apps/playground/lib/types.d.ts
  compiler/apps/playground/next.config.js
  compiler/apps/playground/package.json
  compiler/yarn.lock
Due: enabled=false

Include a component stack in prod but only lazily generate it
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Implement onError signature for renderToMarkup
  packages/react-html/src/ReactHTMLClient.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
Due: enabled

Gate legacyContext field on disableLegacyContext
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Read current stack from the client current stack during onError
  packages/react-html/src/ReactHTMLServer.js
Due: enabled

Implement debugInfo in Fizz
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

[Fizz] Gate legacyContext field on disableLegacyContext (#30173)
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Path conditions:
  enabled=false: any of: compiler/.*
  enabled: (((((((((((((((((((any of: .circleci/.*) or (any of: .codesandbox/.*)) or (any of: fixtures/.*)) or (any of: packages/.*)) or (any of: scripts/.*)) or (any of: .eslintignore)) or (any of: .eslintrc.js)) or (any of: .git-blame-ignore-revs)) or (any of: .gitattributes)) or (any of: .gitignore)) or (any of: .nvmrc)) or (any of: .prettierignore)) or (any of: .prettierrc.js)) or (any of: .watchmanconfig)) or (any of: babel.config.js)) or (any of: dangerfile.js)) or (any of: netlify.toml)) or (any of: package.json)) or (any of: ReactVersions.js)) or (any of: yarn.lock)
