Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

Update
  .github/workflows/runtime_commit_artifacts.yml
Due: none

[ci] Fix invalid username and email in synthetic commit
  .github/workflows/runtime_commit_artifacts.yml
Due: none

[ci] Fix invalid username and email in synthetic commit
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

[ci] Fix invalid username and email in synthetic commit
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

[Fizz] Prerender fallbacks before children
  packages/react-dom/src/__tests__/ReactDOMFizzStatic-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticNode-test.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

[Fizz] Prerender fallbacks before children (#30483)
  packages/react-dom/src/__tests__/ReactDOMFizzStatic-test.js
  packages/react-dom/src/__tests__/ReactDOMFizzStaticNode-test.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

[Fizz] Prerender fallbacks before children (#30483)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

[compiler] In change detection, be less precise about path dependencies
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

Update base for Update on "[compiler][ez] Rename disableMemoizationForDebugging to just disableMemoization"
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

Update base for Update on "[compiler] In change detection, be less precise about path dependencies"
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

[compiler] When preserving user-level useMemos, don't memoize arguments
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeFbtAndMacroOperandsInSameScope.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved-nomemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
Due: enabled=false

[compiler] Make compiler aware of whether a local binding is constlike or not
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
Due: enabled=false

[compiler] In change detection, assign reactive scopes to values that may have changed between renders
  compiler/packages/babel-plugin-react-compiler/src/HIR/MergeOverlappingReactiveScopesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReactivePlaces.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateMemoizedEffectDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-pruned-dependency-change-detect.expect.md
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

Update base for Update on "[compiler] Add wrapper functions to wrap change-detection storage and loading from the memo cache"
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
Due: enabled=false

[compiler] Add wrapper functions to wrap change-detection storage and loading from the memo cache
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect-wrapper.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect-wrapper.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.nomemo-and-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.nomemo-and-change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-and-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-and-change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-and-other-hook-unpruned-dependency.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-and-other-hook-unpruned-dependency.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-pruned-dependency-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-pruned-dependency-change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-unpruned-dependency.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-unpruned-dependency.js
  compiler/packages/snap/src/SproutTodoFilter.ts
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

Update base for Update on "[compiler][ez] Rename disableMemoizationForDebugging to just disableMemoization"
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
Due: enabled=false

[compiler][ez] Rename disableMemoizationForDebugging to just disableMemoization
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-and-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-and-change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved-nomemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved-nomemo.js
Due: enabled=false

Update base for Update on "[compiler] In change detection, be less precise about path dependencies"
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
Due: enabled=false

Rename bridge protocol Fiber to Element
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/backendAPI.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/TreeContext.js
  packages/react-devtools-shared/src/frontend/types.js
Due: enabled

Rename RendererInterface from Fiber to Element
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
Due: enabled

Rename local helpers
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
Due: enabled

Move renderer.js and DevToolsFiberComponentStack.js into backend/fiber
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/index.js
  packages/react-devtools-shared/src/backend/profilingHooks.js
Due: enabled

Move shared utilities into backend/shared
  .eslintrc.js
  packages/react-devtools-extensions/src/contentScripts/renderer.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/shared/DevToolsComponentStackFrame.js
  packages/react-devtools-shared/src/backend/shared/DevToolsConsolePatching.js
  packages/react-devtools-shared/src/backend/shared/DevToolsOwnerStack.js
  packages/react-devtools-shared/src/backend/shared/ReactSymbols.js
Due: enabled

chore: update package.json files with repository fields
  compiler/apps/playground/package.json
  compiler/crates/react_napi/package.json
  compiler/package.json
  compiler/packages/babel-plugin-react-compiler/package.json
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/make-read-only-util/package.json
  compiler/packages/react-compiler-healthcheck/package.json
  compiler/packages/react-compiler-runtime/package.json
  compiler/packages/snap/package.json
  packages/react-cache/package.json
  packages/react-client/package.json
  packages/react-debug-tools/package.json
  packages/react-devtools-extensions/package.json
  packages/react-devtools-fusebox/package.json
  packages/react-devtools-shared/package.json
  packages/react-devtools-shell/package.json
  packages/react-devtools-timeline/package.json
  packages/react-native-renderer/package.json
  packages/react-noop-renderer/package.json
  packages/react-refresh/package.json
  packages/react-server-dom-esm/package.json
  packages/react-server-dom-fb/package.json
  packages/react-server-dom-turbopack/package.json
  packages/react-server-dom-webpack/package.json
  packages/react-server/package.json
  packages/react-suspense-test-utils/package.json
  scripts/bench/package.json
  scripts/devtools/package.json
  scripts/perf-counters/package.json
  scripts/release/package.json
  scripts/tasks/update-package-files.js
Due: enabled=false, enabled

Don't expose getComponentStackForFiber and getSourceForFiber
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Due: enabled

Update
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_manual.yml
  .github/workflows/runtime_prereleases_nightly.yml
Due: none

Update (base update)
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_manual.yml
  .github/workflows/runtime_prereleases_nightly.yml
Due: none

Update
  .circleci/config.yml
Due: enabled

[ci] Add prerelease workflows to GH actions
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_manual.yml
  .github/workflows/runtime_prereleases_nightly.yml
Due: none

[ci] Delete .circleci
  .circleci/config.yml
Due: enabled

Path conditions:
  enabled=false: any of: compiler/.*
  enabled: (((((((((((((((((((any of: .circleci/.*) or (any of: .codesandbox/.*)) or (any of: fixtures/.*)) or (any of: packages/.*)) or (any of: scripts/.*)) or (any of: .eslintignore)) or (any of: .eslintrc.js)) or (any of: .git-blame-ignore-revs)) or (any of: .gitattributes)) or (any of: .gitignore)) or (any of: .nvmrc)) or (any of: .prettierignore)) or (any of: .prettierrc.js)) or (any of: .watchmanconfig)) or (any of: babel.config.js)) or (any of: dangerfile.js)) or (any of: netlify.toml)) or (any of: package.json)) or (any of: ReactVersions.js)) or (any of: yarn.lock)
