Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

Independent re-renders from UNSAFE_componentWillReceiveProps cause maximum update depth error
  packages/react-dom/src/__tests__/ReactUpdates-test.js
Due: enabled

[Fizz] Gate legacyContext field on disableLegacyContext (#30173)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

[compiler] useMemo calls directly induce memoization blocks
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeExistingUseMemos.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MergeReactiveScopesThatInvalidateTogether.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneUnusedScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.js
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

[compiler] Drop useMemos in memoization disabled mode, don't bail from source-level memo blocks
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved-nomemo.expect.md
Due: enabled=false

[compiler] Use dependencies from source for useMemo scopes
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/visitors.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeExistingUseMemos.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PropagateScopeDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneInitializationDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonReactiveDependencies.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidatePreservedManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-path.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-path.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
Due: enabled=false

[compiler] Fewer assumptions about nonmutability when change detection enabled
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-and-other-hook-unpruned-dependency.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-pruned-dependency-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-unpruned-dependency.expect.md
Due: enabled=false

[compiler] Add wrapper functions to wrap change-detection storage and loading from the memo cache
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect-wrapper.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect-wrapper.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.nomemo-and-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.nomemo-and-change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-and-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-and-change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-and-other-hook-unpruned-dependency.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-and-other-hook-unpruned-dependency.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-pruned-dependency-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-pruned-dependency-change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-unpruned-dependency.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useState-unpruned-dependency.js
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

Read current stack from the client current stack during onError
  packages/react-html/src/ReactHTMLServer.js
Due: enabled

Include a component stack in prod but only lazily generate it
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Implement onError signature for renderToMarkup
  packages/react-html/src/ReactHTMLClient.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
Due: enabled

Implement debugInfo in Fizz
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Track the inner most debugTask parent
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Run onError, onShellError and onFatalError in the debugTask Context
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Update base for Update on "[compiler] Fewer assumptions about nonmutability when change detection enabled"
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
Due: enabled=false

Update base for Update on "[compiler] Add wrapper functions to wrap change-detection storage and loading from the memo cache"
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
Due: enabled=false

[compiler][ez] Rename disableMemoizationForDebugging to just disableMemoization
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-and-change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-and-change-detect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-path.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/nomemo-path.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved-nomemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved-nomemo.js
Due: enabled=false

Passing test for Waku repro
  packages/react-client/src/__tests__/ReactFlight-test.js
Due: enabled

Gate Server Component stack frame outside of DEV
  packages/react-server/src/ReactFizzComponentStack.js
Due: enabled

Update on "[compiler] useMemo calls directly induce memoization blocks"
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.js
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

[compiler] useMemo calls directly induce memoization blocks
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeExistingUseMemos.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MergeReactiveScopesThatInvalidateTogether.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneUnusedScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

Update base for Update on "[compiler] Drop useMemos in memoization disabled mode, don't bail from source-level memo blocks"
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.js
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

Update base for Update on "[compiler] Use dependencies from source for useMemo scopes"
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.js
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

Update base for Update on "[compiler] Fewer assumptions about nonmutability when change detection enabled"
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.js
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

Update base for Update on "[compiler] Add wrapper functions to wrap change-detection storage and loading from the memo cache"
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.js
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

Update base for Update on "[compiler][ez] Rename disableMemoizationForDebugging to just disableMemoization"
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-preserve-non-idempotent.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-simple-preserved.js
  compiler/packages/snap/src/compiler.ts
Due: enabled=false

[Fizz] Include a component stack in prod but only lazily generate it (#30132)
  packages/react-server/src/ReactFizzServer.js
Due: enabled

[Fizz] Include a component stack in prod but only lazily generate it (#30132)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

Implement onError signature for renderToMarkup (#30170)
  packages/react-html/src/ReactHTMLClient.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
Due: enabled

[Fizz] Implement debugInfo (#30174)
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Rename error
  packages/react-server/src/ReactFizzServer.js
Due: enabled

Path conditions:
  enabled=false: any of: compiler/.*
  enabled: (((((((((((((((((((any of: .circleci/.*) or (any of: .codesandbox/.*)) or (any of: fixtures/.*)) or (any of: packages/.*)) or (any of: scripts/.*)) or (any of: .eslintignore)) or (any of: .eslintrc.js)) or (any of: .git-blame-ignore-revs)) or (any of: .gitattributes)) or (any of: .gitignore)) or (any of: .nvmrc)) or (any of: .prettierignore)) or (any of: .prettierrc.js)) or (any of: .watchmanconfig)) or (any of: babel.config.js)) or (any of: dangerfile.js)) or (any of: netlify.toml)) or (any of: package.json)) or (any of: ReactVersions.js)) or (any of: yarn.lock)
