Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  filter-compiler:
    jobs:
      - path-filtering/filter:
          name: Ignore compiler-only changes
          config-path: .circleci/runtime_config_DEPRECATED.yml
          base-revision: << pipeline.git.branch >>
          mapping: |
            compiler/.*             enabled false

            .circleci/.*            enabled true
            .codesandbox/.*         enabled true
            fixtures/.*             enabled true
            packages/.*             enabled true
            scripts/.*              enabled true
            .eslintignore           enabled true
            .eslintrc.js            enabled true
            .git-blame-ignore-revs  enabled true
            .gitattributes          enabled true
            .gitignore              enabled true
            .nvmrc                  enabled true
            .prettierignore         enabled true
            .prettierrc.js          enabled true
            .watchmanconfig         enabled true
            babel.config.js         enabled true
            dangerfile.js           enabled true
            netlify.toml            enabled true
            package.json            enabled true
            ReactVersions.js        enabled true
            yarn.lock               enabled true

Update test that used to be missing the stack but is now covered
  packages/react/src/__tests__/createReactClassIntegration-test.js
Due: enabled

Flight tests need to have the right version of "react" when we log on the server
  packages/react-client/src/__tests__/ReactFlight-test.js
Due: enabled

Update test of the error messages in the tool itself
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/internal-test-utils/consoleMock.js
Due: enabled

Update manual mock in test
  packages/react-dom/src/__tests__/ReactUpdates-test.js
Due: enabled

[compiler] Fix mode for generating scopes for reassignments
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/primitive-reassigned-loop-force-scopes-enabled.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/primitive-reassigned-loop-force-scopes-enabled.js
Due: enabled=false

Update on "[compiler] Fix mode for generating scopes for reassignments"
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/InferReactiveScopeVariables.ts
Due: enabled=false

Update
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Due: enabled

Update (base update)
  .circleci/config.yml
  .github/workflows/runtime_build.yml
  packages/react-devtools-shared/src/__tests__/storeStressTestConcurrent-test.js
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/build-ghaction.js
  scripts/rollup/stats.js
Due: enabled

Update
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Due: enabled

[ci] Parallelize yarn build
  .circleci/config.yml
  .github/workflows/runtime_build.yml
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/build-ghaction.js
  scripts/rollup/stats.js
Due: enabled

[ci] Add yarn build_and_lint gh action
  .github/workflows/runtime_build.yml
Due: none

[ci] Add yarn_test_build job to gh actions
  .github/workflows/runtime_build.yml
  packages/react-devtools-shared/src/__tests__/storeStressTestConcurrent-test.js
Due: enabled

[ci] Add process_artifacts_combined job
  .github/workflows/runtime_build.yml
Due: none

[ci] Add check_release_dependencies job
  .github/workflows/runtime_build.yml
Due: none

[RN] Set enableOwnerStacks and enableUseDeferredValueInitialArg to false
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Due: enabled

Update
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_rust.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_check_repro.yml
  .github/workflows/runtime_build.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_fizz.yml
  .github/workflows/runtime_flags.yml
  .github/workflows/runtime_flow.yml
  .github/workflows/runtime_fuzz_tests.yml
  .github/workflows/runtime_test.yml
  .github/workflows/shared_lint.yml
  .github/workflows/shared_stale.yml
  .nvmrc
Due: enabled

[RN] Set enableOwnerStacks and enableUseDeferredValueInitialArg to false
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

Update
  .github/workflows/runtime_build.yml
Due: none

Update (base update)
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_rust.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_check_repro.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_fizz.yml
  .github/workflows/runtime_flags.yml
  .github/workflows/runtime_flow.yml
  .github/workflows/runtime_fuzz_tests.yml
  .github/workflows/runtime_test.yml
  .github/workflows/shared_lint.yml
  .github/workflows/shared_stale.yml
  .nvmrc
Due: enabled

Update
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_fizz.yml
  .github/workflows/runtime_flags.yml
  .github/workflows/runtime_flow.yml
  .github/workflows/runtime_test.yml
Due: none

Update
  .github/workflows/runtime_build_and_test.yml
Due: none

[ci] Standardize node version and timezones
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_rust.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_check_repro.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_fizz.yml
  .github/workflows/runtime_flags.yml
  .github/workflows/runtime_flow.yml
  .github/workflows/runtime_fuzz_tests.yml
  .github/workflows/runtime_test.yml
  .github/workflows/shared_lint.yml
  .github/workflows/shared_stale.yml
  .nvmrc
Due: enabled

[ci] Combine Runtime workflows
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_fizz.yml
  .github/workflows/runtime_flags.yml
  .github/workflows/runtime_flow.yml
  .github/workflows/runtime_test.yml
Due: none

Remove Component Stack from React Logged Warnings and Error Reporting (#30308)
  packages/internal-test-utils/__tests__/ReactInternalTestUtils-test.js
  packages/internal-test-utils/consoleMock.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReporting-test.js
  packages/react-dom/src/__tests__/ReactDOMConsoleErrorReportingLegacy-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorLogging-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/react/src/__tests__/createReactClassIntegration-test.js
  packages/shared/consoleWithStackDev.js
  packages/shared/forks/consoleWithStackDev.rn.js
  scripts/jest/matchers/toWarnDev.js
Due: enabled

Disable consoleWithStackDev Transform except in RN/WWW
  packages/react-client/src/ReactClientConsoleConfigBrowser.js
  packages/react-client/src/ReactClientConsoleConfigPlain.js
  packages/react-client/src/ReactClientConsoleConfigServer.js
  packages/react-client/src/ReactFlightClient.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/shared/consoleWithStackDev.js
  scripts/jest/preprocessor.js
  scripts/print-warnings/print-warnings.js
  scripts/rollup/build-ghaction.js
  scripts/rollup/build.js
Due: enabled

Disable consoleWithStackDev Transform except in RN/WWW (#30313)
  packages/react-client/src/ReactClientConsoleConfigBrowser.js
  packages/react-client/src/ReactClientConsoleConfigPlain.js
  packages/react-client/src/ReactClientConsoleConfigServer.js
  packages/react-client/src/ReactFlightClient.js
  packages/react-reconciler/src/ReactFiberErrorLogger.js
  packages/shared/consoleWithStackDev.js
  scripts/jest/preprocessor.js
  scripts/print-warnings/print-warnings.js
  scripts/rollup/build-ghaction.js
  scripts/rollup/build.js
Due: enabled

Only fork consoleWithStackDev for the FB version of RN
  packages/shared/forks/consoleWithStackDev.native-fb.js
  scripts/rollup/build-ghaction.js
  scripts/rollup/build.js
  scripts/rollup/forks.js
Due: enabled

Disable consoleWithStackDev Transform except in RN/WWW (#30313)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

Disable consoleWithStackDev Transform except in RN/WWW (#30313)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

Encode the name of a function as an object property
  packages/react-client/src/ReactFlightClient.js
Due: enabled

Add build-for-flight-dev script
  package.json
Due: enabled

Add build-for-flight-dev script to package.json (#30326)
  package.json
Due: enabled

[Fizz] correctly track header length
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
Due: enabled

Fixed `useSyncExternalStoreWithSelector` to update memoizedSnapshot on change (#25968)
  packages/use-sync-external-store/src/useSyncExternalStoreWithSelector.js
Due: enabled

[Fizz] correctly track header length (#30327)
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
Due: enabled

[Fizz] correctly track header length (#30327)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

[Flight] Encode the name of a function as an object property (#30325)
  packages/react-client/src/ReactFlightClient.js
Due: enabled

[compiler] Store babel scope on Environment
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
Due: enabled=false

[compiler] Fixture for function outlining
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlined-helper.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlined-helper.js
Due: enabled=false
