Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  filter-compiler:
    jobs:
      - path-filtering/filter:
          name: Ignore compiler-only changes
          config-path: .circleci/runtime_config_DEPRECATED.yml
          base-revision: << pipeline.git.branch >>
          mapping: |
            compiler/.*             enabled false

            .circleci/.*            enabled true
            .codesandbox/.*         enabled true
            fixtures/.*             enabled true
            packages/.*             enabled true
            scripts/.*              enabled true
            .eslintignore           enabled true
            .eslintrc.js            enabled true
            .git-blame-ignore-revs  enabled true
            .gitattributes          enabled true
            .gitignore              enabled true
            .nvmrc                  enabled true
            .prettierignore         enabled true
            .prettierrc.js          enabled true
            .watchmanconfig         enabled true
            babel.config.js         enabled true
            dangerfile.js           enabled true
            netlify.toml            enabled true
            package.json            enabled true
            ReactVersions.js        enabled true
            yarn.lock               enabled true

Update
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

[compiler][patch] Throw todo when encountering fbt param with unicode or double quote
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeFbtAndMacroOperandsInSameScope.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-quotes.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-quotes.js
Due: enabled=false

Update (base update)
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

Disable stack pushing and resuming in www
  packages/react-server/src/ReactFizzServer.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Due: enabled

Update
  .github/workflows/runtime_build_and_test.yml
Due: none

Update (base update)
  .github/workflows/runtime_build_and_test.yml
Due: none

Update on "[compiler][patch] Fix jsx non-ascii regex pattern"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-unicode.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-unicode.js
Due: enabled=false

[compiler][fixtures] Repro for fbt + non-ascii strings
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-newline.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-newline.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-quotes.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-quotes.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-unicode.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-unicode.js
Due: enabled=false

Update (base update)
  .github/workflows/runtime_build_and_test.yml
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

Update
  .circleci/config.yml
Due: enabled

Update (base update)
  .circleci/config.yml
  .github/workflows/runtime_build_and_test.yml
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

[compiler][patch] Don't wrap non-ascii jsx operands in JSXExpressionContainer
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeFbtAndMacroOperandsInSameScope.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-newline.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-quotes.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-unicode.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-newline.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-newline.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-quotes.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-quotes.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-unicode.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-unicode.js
Due: enabled=false

[compiler][patch] Don't wrap non-ascii fbt operands in JSXExpressionContainer
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeFbtAndMacroOperandsInSameScope.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-newline.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-quotes.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-param-with-unicode.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-newline.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-newline.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-quotes.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-quotes.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-unicode.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-param-with-unicode.js
Due: enabled=false

[compiler][patch] Fix jsx non-ascii regex pattern
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-params.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-params.js
Due: enabled=false
