Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

Badge Environment Name on Thrown Errors from the Server (#29846)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

Remove spy
  packages/react-dom/src/__tests__/ReactComponent-test.js
Due: enabled

Add new error message for awaiting the client export (#29853)
  packages/react-server-dom-turbopack/src/ReactFlightTurbopackReferences.js
  packages/react-server-dom-webpack/src/ReactFlightWebpackReferences.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOM-test.js
Due: enabled

Tests
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
Due: enabled

Add react-html package skeleton
  packages/react-html/README.md
  packages/react-html/index.js
  packages/react-html/npm/index.js
  packages/react-html/npm/react-html.react-server.js
  packages/react-html/package.json
  packages/react-html/react-html.react-server.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  scripts/error-codes/codes.json
Due: enabled

Add bundle
  packages/react-html/package.json
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
  scripts/shared/inlinedHostConfigs.js
Due: enabled

Implement renderMarkup as a Fizz renderer
  packages/react-html/src/ReactHTMLServer.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  scripts/shared/inlinedHostConfigs.js
Due: enabled

Configure Flight rendering
  packages/react-client/src/forks/ReactFlightClientConfig.dom-bun.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-legacy.js
  packages/react-html/src/ReactHTMLLegacyClientStreamConfig.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
  scripts/error-codes/codes.json
  scripts/shared/inlinedHostConfigs.js
Due: enabled

Update ReactFabric-test.internal to concurrent root (#30103)
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
Due: enabled

[compiler] Examples of invalid code reassigning locals outside of render
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-effect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-effect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-hook-argument.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-hook-argument.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-jsx-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-jsx-callback.js
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler] Validate against locals being reassigned after render
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateLocalsNotReassignedAfterRender.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-effect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-effect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-hook-argument.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-hook-argument.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-jsx-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-jsx-callback.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-effect.expect.md
Due: enabled=false

add a Cloned flag to indicate a required clone in persistent mode
  packages/react-native-renderer/src/__tests__/ReactFabric-test.internal.js
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberFlags.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Due: enabled

[compiler] Add todo fixtures for local reassignment in an async callback
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-async-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-async-callback.js
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler] Validate against locals being reassigned after render
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateLocalsNotReassignedAfterRender.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-in-hook-return-value.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-in-hook-return-value.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-effect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-effect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-hook-argument.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-hook-argument.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-jsx-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-jsx-callback.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-mutable-range-shared-inner-outer-function.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro-mutable-range-shared-inner-outer-function.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-effect.expect.md
Due: enabled=false

[compiler] Repro for nested function local reassignment issue
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-nested-function-reassign-local-variable-in-effect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-nested-function-reassign-local-variable-in-effect.js
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler] Always error on async reassignments
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateLocalsNotReassignedAfterRender.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-async-callback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-reassign-local-variable-in-async-callback.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-reassign-local-variable-in-async-callback.expect.md
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

Update on "[compiler] Repro for nested function local reassignment issue"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-nested-function-reassign-local-variable-in-effect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-nested-function-reassign-local-variable-in-effect.js
Due: enabled=false

Update base for Update on "[compiler] Always error on async reassignments"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-nested-function-reassign-local-variable-in-effect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/todo.invalid-nested-function-reassign-local-variable-in-effect.js
Due: enabled=false

Update packages/react-html/package.json
  packages/react-html/package.json
Due: enabled

Remove isPrimaryRenderer from Flight Server Config
  packages/react-dom-bindings/src/server/ReactFlightServerConfigDOM.js
  packages/react-server/src/forks/ReactFlightServerConfig.custom.js
Due: enabled

Update README
  packages/react-html/README.md
Due: enabled

Remove isPrimaryRenderer
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
Due: enabled

Upgrade flow to 0.233.0
  package.json
  scripts/flow/react-native-host-hooks.js
  yarn.lock
Due: enabled

Remove isPrimaryRenderer from Flight Server Config (#30115)
  packages/react-dom-bindings/src/server/ReactFlightServerConfigDOM.js
  packages/react-server/src/forks/ReactFlightServerConfig.custom.js
Due: enabled

Add new package with renderToMarkup export (#30105)
  packages/react-client/src/forks/ReactFlightClientConfig.dom-bun.js
  packages/react-client/src/forks/ReactFlightClientConfig.dom-legacy.js
  packages/react-html/README.md
  packages/react-html/index.js
  packages/react-html/npm/index.js
  packages/react-html/npm/react-html.react-server.js
  packages/react-html/package.json
  packages/react-html/react-html.react-server.js
  packages/react-html/src/ReactHTMLLegacyClientStreamConfig.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
  scripts/error-codes/codes.json
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
  scripts/shared/inlinedHostConfigs.js
Due: enabled

Warn for invalid type in renderer with the correct RSC stack (#30102)
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-dom/src/__tests__/ReactComponent-test.js
  packages/react-dom/src/__tests__/ReactDOMServerIntegrationElements-test.js
  packages/react-dom/src/__tests__/ReactLegacyErrorBoundaries-test.internal.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/__tests__/ErrorBoundaryReconciliation-test.internal.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorHandling-test.internal.js
  packages/react-server/src/ReactFlightServer.js
  packages/react/src/__tests__/ReactElementValidator-test.internal.js
  packages/react/src/__tests__/ReactJSXElementValidator-test.js
  packages/react/src/jsx/ReactJSXElement.js
Due: enabled

Add new package with renderToMarkup export (#30105)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

Warn for invalid type in renderer with the correct RSC stack (#30102)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

Warn for invalid type in renderer with the correct RSC stack (#30102)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

Do not closure compile react-test-renderer
  scripts/rollup/build.js
Due: enabled

Experiment with using an object literal for Fiber creation
  packages/react-reconciler/src/ReactFiber.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Due: enabled

Add Client version of renderToMarkup
  packages/react-html/index.js
  packages/react-html/npm/index.js
  packages/react-html/src/ReactHTMLClient.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
  scripts/shared/inlinedHostConfigs.js
Due: enabled

Path conditions:
  enabled=false: any of: compiler/.*
  enabled: (((((((((((((((((((any of: .circleci/.*) or (any of: .codesandbox/.*)) or (any of: fixtures/.*)) or (any of: packages/.*)) or (any of: scripts/.*)) or (any of: .eslintignore)) or (any of: .eslintrc.js)) or (any of: .git-blame-ignore-revs)) or (any of: .gitattributes)) or (any of: .gitignore)) or (any of: .nvmrc)) or (any of: .prettierignore)) or (any of: .prettierrc.js)) or (any of: .watchmanconfig)) or (any of: babel.config.js)) or (any of: dangerfile.js)) or (any of: netlify.toml)) or (any of: package.json)) or (any of: ReactVersions.js)) or (any of: yarn.lock)
