Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  filter-compiler:
    jobs:
      - path-filtering/filter:
          name: Ignore compiler-only changes
          config-path: .circleci/runtime_config_DEPRECATED.yml
          base-revision: << pipeline.git.branch >>
          mapping: |
            compiler/.*             enabled false

            .circleci/.*            enabled true
            .codesandbox/.*         enabled true
            fixtures/.*             enabled true
            packages/.*             enabled true
            scripts/.*              enabled true
            .eslintignore           enabled true
            .eslintrc.js            enabled true
            .git-blame-ignore-revs  enabled true
            .gitattributes          enabled true
            .gitignore              enabled true
            .nvmrc                  enabled true
            .prettierignore         enabled true
            .prettierrc.js          enabled true
            .watchmanconfig         enabled true
            babel.config.js         enabled true
            dangerfile.js           enabled true
            netlify.toml            enabled true
            package.json            enabled true
            ReactVersions.js        enabled true
            yarn.lock               enabled true

[compiler] Refactor Program to use queue of functions to compile
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
Due: enabled=false

Update on "[compiler] General-purpose function outlining"
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/OutlineFunctions.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

Update on "[compiler] General-purpose function outlining"
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

[compiler][be] Promote destructured params to temporaries
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

Update base for Update on "[compiler] General-purpose function outlining"
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
Due: enabled=false

Update on "[compiler] Refactor Program to use queue of functions to compile"
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
Due: enabled=false

Update base for Update on "[compiler][be] Promote destructured params to temporaries"
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
  compiler/packages/babel-plugin-react-compiler/src/Optimization/OutlineFunctions.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

Update base for Update on "[compiler][be] Promote destructured params to temporaries"
  compiler/packages/babel-plugin-react-compiler/scripts/jest/makeTransform.ts
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
Due: enabled=false

[compiler] Handle earlier creation of early return on scopes
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PropagateEarlyReturns.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/PruneNonEscapingScopes.ts
Due: enabled=false

[compiler][be] Fix lint rules in eslint-plugin
  compiler/packages/eslint-plugin-react-compiler/__tests__/ReactCompilerRule-test.ts
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
  compiler/yarn.lock
Due: enabled=false

[compiler][eslint] Use logger callback instead of exceptions to report eslint diagnostics
  compiler/packages/eslint-plugin-react-compiler/__tests__/ReactCompilerRule-test.ts
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
Due: enabled=false

Fix fastAddPropertiess to properly nullify style props.
  packages/react-native-renderer/src/ReactNativeAttributePayloadFabric.js
  packages/react-native-renderer/src/__tests__/ReactNativeAttributePayloadFabric-test.internal.js
Due: enabled

[native-fb] set consoleManagedByDevToolsDuringStrictMode flag to true
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
Due: enabled

[native-fb] set consoleManagedByDevToolsDuringStrictMode flag to true (#30338)
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
Due: enabled

Fix fastAddProperties to properly nullify style props (#30334)
  packages/react-native-renderer/src/ReactNativeAttributePayloadFabric.js
  packages/react-native-renderer/src/__tests__/ReactNativeAttributePayloadFabric-test.internal.js
Due: enabled

[native-fb] set disableDefaultPropsExceptForClasses flag to true
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Due: enabled

[native-fb] set consoleManagedByDevToolsDuringStrictMode flag to true (#30338)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

Fix fastAddProperties to properly nullify style props (#30334)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

[Fiber] Ensure srcset is last on `img` instances
  packages/react-dom-bindings/src/client/ReactDOMComponent.js
Due: enabled

[native-fb] set disableDefaultPropsExceptForClasses flag to true (#30339)
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
Due: enabled

[native-fb] set disableDefaultPropsExceptForClasses flag to true (#30339)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/JSXDEVRuntime-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/JSXRuntime-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/JSXRuntime-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/JSXRuntime-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

Update on "[compiler][be] Fix lint rules in eslint-plugin"
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
  compiler/yarn.lock
Due: enabled=false

Update base for Update on "[compiler][eslint] Use logger callback instead of exceptions to report eslint diagnostics"
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
  compiler/yarn.lock
Due: enabled=false

[compiler][ez] Upgrade babel generator version for playground
  compiler/apps/playground/package.json
  compiler/packages/snap/package.json
  compiler/yarn.lock
Due: enabled=false

[compiler][eslint] Add donotuse flag for bailouts
  compiler/packages/eslint-plugin-react-compiler/__tests__/ReactCompilerRule-test.ts
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
Due: enabled=false

Set enableFastJSX flag to true
  packages/react/src/__tests__/ReactJSXRuntime-test.js
  packages/react/src/jsx/ReactJSXElement.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb-dynamic.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www-dynamic.js
  packages/shared/forks/ReactFeatureFlags.www.js
Due: enabled

[compiler][be] Fix lint violations in eslint-plugin
  compiler/packages/eslint-plugin-react-compiler/__tests__/ReactCompilerRule-test.ts
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
  compiler/yarn.lock
Due: enabled=false

[compiler] Show outlined functions in logging, playground
  compiler/apps/playground/components/Editor/Output.tsx
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
Due: enabled=false

Update on "[compiler] Show outlined functions in logging, playground"
  compiler/apps/playground/components/Editor/Output.tsx
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
Due: enabled=false
