Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  filter-compiler:
    jobs:
      - path-filtering/filter:
          name: Ignore compiler-only changes
          config-path: .circleci/runtime_config_DEPRECATED.yml
          base-revision: << pipeline.git.branch >>
          mapping: |
            compiler/.*             enabled false

            .circleci/.*            enabled true
            .codesandbox/.*         enabled true
            fixtures/.*             enabled true
            packages/.*             enabled true
            scripts/.*              enabled true
            .eslintignore           enabled true
            .eslintrc.js            enabled true
            .git-blame-ignore-revs  enabled true
            .gitattributes          enabled true
            .gitignore              enabled true
            .nvmrc                  enabled true
            .prettierignore         enabled true
            .prettierrc.js          enabled true
            .watchmanconfig         enabled true
            babel.config.js         enabled true
            dangerfile.js           enabled true
            netlify.toml            enabled true
            package.json            enabled true
            ReactVersions.js        enabled true
            yarn.lock               enabled true

[compiler] Maintain RPO and uniquely instruction ids when constructing scope terminals
  compiler/packages/babel-plugin-react-compiler/src/HIR/AssertTerminalBlocksExist.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildReactiveScopeTerminalsHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidatePreservedManualMemoization.ts
Due: enabled=false

Update on "[compiler] Maintain RPO and uniquely instruction ids when constructing scope terminals"
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildReactiveScopeTerminalsHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidatePreservedManualMemoization.ts
Due: enabled=false

Update on "[compiler] Maintain RPO and uniquely instruction ids when constructing scope terminals"
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidatePreservedManualMemoization.ts
Due: enabled=false

Consistently use debugOwner field
  packages/react-server/src/ReactFlightServer.js
Due: enabled

Create satya
  .github/workflows/satya
Due: none

Update README.md
  README.md
Due: none

Update
  .github/workflows/devtools_regression_tests.yml
Due: none

Update on "[compiler][repro] Test fixture for fbt whitespace bug"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-preserve-whitespace-param.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-preserve-whitespace-param.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler][repro] Test fixture for fbt whitespace bug
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-preserve-whitespace-param.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-preserve-whitespace-param.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler][donotcommit] show differences between identifier + scope ranges
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildReactiveScopeTerminalsHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/MergeOverlappingReactiveScopesHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/AlignMethodCallScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/AlignObjectMethodScopes.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/MemoizeFbtAndMacroOperandsInSameScope.ts
Due: enabled=false

[test] Add `findSourceMapURL` to `ReactNoopFlightClient` (#30395)
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
Due: enabled

[Flight] Consistently flag debugOwner field (#30400)
  packages/react-server/src/ReactFlightServer.js
Due: enabled

chore: Replace short urls of goo.gl
  packages/dom-event-testing-library/__tests__/__snapshots__/index-test.internal.js.snap
  packages/react-art/src/__tests__/__snapshots__/ReactART-test.js.snap
  packages/react-reconciler/src/__tests__/__snapshots__/ReactHooks-test.internal.js.snap
  packages/react-refresh/src/__tests__/__snapshots__/ReactFreshBabelPlugin-test.js.snap
  packages/react/src/__tests__/__snapshots__/ReactProfilerComponent-test.internal.js.snap
  scripts/error-codes/__tests__/__snapshots__/transform-error-messages.js.snap
Due: enabled

fix: not set props of instance in will unmount
  packages/react-reconciler/src/ReactFiberCommitWork.js
  packages/react-reconciler/src/__tests__/ReactIncrementalErrorLogging-test.js
  packages/react-reconciler/src/__tests__/ReactLazyClassComponentPropResolution-test.js
Due: enabled

test: add test
  packages/react-reconciler/src/__tests__/ReactLazyClassComponentPropResolution-test.js
Due: enabled

Tag all user space call sites with the "react-stack-bottom-frame" name (#30369)
  packages/react-reconciler/src/ReactFiberCallUserSpace.js
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-server/src/ReactFizzCallUserSpace.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightCallUserSpace.js
  packages/react-server/src/ReactFlightServer.js
Due: enabled

Save native stack as a separate Error
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightOwnerStack.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/flight/ReactFlightComponentStack.js
  packages/shared/ReactTypes.js
Due: enabled

Rename task on ReactComponentInfo to debugTask
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactTypes.js
Due: enabled

Build a normalized native stack trace using fake evals
  packages/react-client/src/ReactFlightClient.js
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-server/src/ReactFizzOwnerStack.js
Due: enabled

Tag all user space call sites with the "react-stack-bottom-frame" name (#30369)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

Tag all user space call sites with the "react-stack-bottom-frame" name (#30369)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

[Flight] Normalize Stack Using Fake Evals (#30401)
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-dom/src/__tests__/ReactUpdates-test.js
  packages/react-reconciler/src/ReactChildFiber.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFizzServer.js
  packages/react-server/src/ReactFlightOwnerStack.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/flight/ReactFlightComponentStack.js
  packages/shared/ReactTypes.js
Due: enabled

[Flight] Normalize Stack Using Fake Evals (#30401)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMServerStreaming-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

Encode the transfer of stack traces as a structured form
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactTypes.js
Due: enabled

Move parseStackTrace to ReactFlightServerConfig
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFlightOwnerStack.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactFlightStackConfigV8.js
  packages/react-server/src/forks/ReactFlightServerConfig.custom.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser-esm.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-bun.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-edge-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-edge.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node-esm.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node.js
  packages/react-server/src/forks/ReactFlightServerConfig.markup.js
  scripts/jest/setupTests.js
Due: enabled

[Flight] Parse Stack on the Server and Transfer Structured Stack (#30410)
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFlightOwnerStack.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/ReactFlightStackConfigV8.js
  packages/react-server/src/forks/ReactFlightServerConfig.custom.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser-esm.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-browser.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-bun.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-edge-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-edge.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node-esm.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node-turbopack.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-node.js
  packages/react-server/src/forks/ReactFlightServerConfig.markup.js
  packages/shared/ReactTypes.js
  scripts/jest/setupTests.js
Due: enabled

Reverse engineer original stack frames when virtual frames are re-serialized
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Due: enabled

Be resilient to prepareStackTrace being set while parsing
  packages/react-devtools-shared/src/backend/DevToolsOwnerStack.js
Due: enabled

Owner Stacks in DevTools
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/DevToolsOwnerStack.js
  packages/react-devtools-shared/src/backend/console.js
Due: enabled

Update web-ext
  packages/react-devtools-extensions/package.json
  yarn.lock
Due: enabled

Don't stash the results on the Fiber
  packages/react-devtools-shared/src/backend/DevToolsFiberComponentStack.js
Due: enabled

Update DevTools Tests
  packages/react-devtools-shared/src/__tests__/componentStacks-test.js
  packages/react-devtools-shared/src/__tests__/console-test.js
  scripts/jest/devtools/setupEnv.js
Due: enabled
