Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

[Fiber/DevTools] Stop injecting findHostInstanceByFiber (#30519)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

[Fiber/DevTools] Stop injecting findHostInstanceByFiber (#30519)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

Skip finalizeContainerChildren for suspended transition
  packages/react-reconciler/src/ReactFiberCompleteWork.js
  packages/react-reconciler/src/ReactFiberWorkLoop.js
Due: enabled

Remove unused types after rebase
  packages/react-reconciler/src/ReactFiberReconciler.js
Due: enabled

[compiler][repro] Fbt local var incompatibility repro
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/todo-fbt-as-local.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/todo-fbt-as-local.js
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler] Bail out on local variables named 'fbt'
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-as-local.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-fbt-as-local.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/error.todo-locally-require-fbt.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/todo-fbt-as-local.expect.md
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

Failing test for deduped props of elements in fragments
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
Due: enabled

[DevTools] Rename NativeElement to HostInstance in the Bridge (#30491)
  packages/react-devtools-extensions/src/main/elementSelection.js
  packages/react-devtools-extensions/src/main/index.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/fiber/DevToolsFiberComponentStack.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Highlighter.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
  packages/react-devtools-shared/src/backend/views/TraceUpdates/canvas.js
  packages/react-devtools-shared/src/backend/views/TraceUpdates/index.js
  packages/react-devtools-shared/src/backend/views/utils.js
  packages/react-devtools-shared/src/bridge.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectHostNodesToggle.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElementView.js
  packages/react-devtools-shared/src/devtools/views/Components/Tree.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitFlamegraph.js
  packages/react-devtools-shared/src/devtools/views/Profiler/CommitRanked.js
  packages/react-devtools-shared/src/devtools/views/hooks.js
Due: enabled

Implement "best renderer" by taking the inner most matched node
  packages/react-devtools-shared/src/__tests__/legacy/storeLegacy-v15-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
Due: enabled

Assign resolved outlined props to element object (and not only tuple)
  packages/react-client/src/ReactFlightClient.js
Due: enabled

[rfc] Delete devtools_check_repro workflow
  .github/workflows/devtools_check_repro.yml
Due: none

Add another test for resolving of deduped props
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
Due: enabled

Update
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_fuzz_tests.yml
  .github/workflows/shared_stale.yml
Due: none

Update
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/shared_lint.yml
Due: none

Update (base update)
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_fuzz_tests.yml
  .github/workflows/shared_stale.yml
Due: none

Update (base update)
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_fuzz_tests.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/shared_lint.yml
  .github/workflows/shared_stale.yml
Due: none

Update
  scripts/release/shared-commands/download-build-artifacts.js
Due: enabled

[ci] Read node version from .nvmrc instead of hardcoding
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/shared_lint.yml
Due: none

[ci] Make some workflows dispatchable
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_fuzz_tests.yml
  .github/workflows/shared_stale.yml
Due: none

[ci] Fix incorrect polling
  scripts/release/shared-commands/download-build-artifacts.js
Due: enabled

Enable prettier for some blocklisted fixtures with invalid GraphQL (#30425)
  .prettierignore
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-and-local-variables-with-default.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-and-local-variables-with-default.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-declarations-and-locals.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/destructuring-mixed-scope-declarations-and-locals.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-inside-logical-expression.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/hook-inside-logical-expression.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-call-logical.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/optional-call-logical.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls-mutable-lambda.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls-mutable-lambda.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/readonly-object-method-calls.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-in-hook.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-in-hook.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-literal.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/tagged-template-literal.js
Due: enabled=false, enabled

chore[react-devtools]: add global for native and use it to fork backend implementation
  .eslintrc.js
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-extensions/webpack.backend.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-inline/webpack.config.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/shared/DevToolsComponentStackFrame.js
  scripts/flow/react-devtools.js
  scripts/jest/devtools/setupEnv.js
Due: enabled

[DevTools] Implement "best renderer" by taking the inner most matched node (#30494)
  packages/react-devtools-shared/src/__tests__/legacy/storeLegacy-v15-test.js
  packages/react-devtools-shared/src/__tests__/store-test.js
  packages/react-devtools-shared/src/backend/agent.js
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/legacy/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
Due: enabled

[Fiber] Make DevTools Config use Static Injection (#30522)
  packages/react-art/src/ReactART.js
  packages/react-art/src/ReactFiberConfigART.js
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
  packages/react-dom/src/client/ReactDOMClient.js
  packages/react-dom/src/client/ReactDOMClientFB.js
  packages/react-native-renderer/src/ReactFabric.js
  packages/react-native-renderer/src/ReactFiberConfigFabric.js
  packages/react-native-renderer/src/ReactFiberConfigNative.js
  packages/react-native-renderer/src/ReactNativeFiberInspector.js
  packages/react-native-renderer/src/ReactNativeRenderer.js
  packages/react-noop-renderer/src/createReactNoop.js
  packages/react-reconciler/src/ReactFiberDevToolsHook.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/forks/ReactFiberConfig.custom.js
  packages/react-test-renderer/src/ReactFiberConfigTestHost.js
  packages/react-test-renderer/src/ReactTestRenderer.js
Due: enabled

Add DevToolsInstance to React DevTools
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Due: enabled

Change findCurrentFiberUsingSlowPathById to take an instance
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Due: enabled

Move forceErrorForFiberIDs/forceFallbackForSuspenseIDs to use flags on the instance
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Due: enabled

[Fiber] Make DevTools Config use Static Injection (#30522)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

[Fiber] Make DevTools Config use Static Injection (#30522)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

[DevTools] Add DevToolsInstance to Store Stateful Information (#30517)
  packages/react-devtools-shared/src/backend/fiber/renderer.js
Due: enabled

Assign resolved outlined props to element object (and not only tuple) (#30528)
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
Due: enabled

Build all bundles required by flight fixture with `build-for-flight-dev`
  package.json
  scripts/rollup/build.js
Due: enabled

[compiler][repro] fixtures for fbt plural and macro bugs
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-function-calls.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-function-calls.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-mixed-call-tag.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-mixed-call-tag.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/repro-macro-property-not-handled.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/repro-macro-property-not-handled.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler][repro] JSX tag local variable is named lowercase
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-renaming-jsx-tag-lowercase.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/bug-renaming-jsx-tag-lowercase.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

Update base for Update on "[compiler][repro] JSX tag local variable is named lowercase"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-function-calls.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-function-calls.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-mixed-call-tag.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-mixed-call-tag.tsx
Due: enabled=false

Update on "[compiler][repro] fixtures for fbt plural and macro bugs"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-function-calls.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-function-calls.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-mixed-call-tag.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-plural-multiple-mixed-call-tag.tsx
Due: enabled=false

Path conditions:
  enabled=false: any of: compiler/.*
  enabled: (((((((((((((((((((any of: .circleci/.*) or (any of: .codesandbox/.*)) or (any of: fixtures/.*)) or (any of: packages/.*)) or (any of: scripts/.*)) or (any of: .eslintignore)) or (any of: .eslintrc.js)) or (any of: .git-blame-ignore-revs)) or (any of: .gitattributes)) or (any of: .gitignore)) or (any of: .nvmrc)) or (any of: .prettierignore)) or (any of: .prettierrc.js)) or (any of: .watchmanconfig)) or (any of: babel.config.js)) or (any of: dangerfile.js)) or (any of: netlify.toml)) or (any of: package.json)) or (any of: ReactVersions.js)) or (any of: yarn.lock)
