Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  filter-compiler:
    jobs:
      - path-filtering/filter:
          name: Ignore compiler-only changes
          config-path: .circleci/runtime_config_DEPRECATED.yml
          base-revision: << pipeline.git.branch >>
          mapping: |
            compiler/.*             enabled false

            .circleci/.*            enabled true
            .codesandbox/.*         enabled true
            fixtures/.*             enabled true
            packages/.*             enabled true
            scripts/.*              enabled true
            .eslintignore           enabled true
            .eslintrc.js            enabled true
            .git-blame-ignore-revs  enabled true
            .gitattributes          enabled true
            .gitignore              enabled true
            .nvmrc                  enabled true
            .prettierignore         enabled true
            .prettierrc.js          enabled true
            .watchmanconfig         enabled true
            babel.config.js         enabled true
            dangerfile.js           enabled true
            netlify.toml            enabled true
            package.json            enabled true
            ReactVersions.js        enabled true
            yarn.lock               enabled true

[compiler] Validate against setState in useMemo
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateNoSetStateInRender.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-global-mutation-unused-usecallback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-ref-access-in-effect-indirect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-ref-access-in-effect-indirect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-conditional-setState-in-useMemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-conditional-setState-in-useMemo.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo-indirect-useCallback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo-indirect-useCallback.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-named-function.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-named-function.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-nested-ifs.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-return-empty.expect.md
Due: enabled=false

Update on "[compiler] Bail out and log calls that likely have side effects"
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
Due: enabled=false

[compiler] Allow global mutation effects in arguments passed to hooks and in return values
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.reassign-global-fn-arg.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.reassign-global-fn-arg.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-hook-arg.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-hook-arg.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-return.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-return.js
Due: enabled=false

Update base for Update on "[compiler] Bail out and log calls that likely have side effects"
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.reassign-global-fn-arg.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.reassign-global-fn-arg.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-hook-arg.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-hook-arg.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-return.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-return.js
Due: enabled=false

[compiler][wip] Track and propagate function effects of arrays and objects
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.reassign-global-obj-call.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.reassign-global-obj-call.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/object-capture-global-mutation.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-return-obj.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-return-obj.js
Due: enabled=false

Update base for Update on "[compiler] Bail out and log calls that likely have side effects"
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.reassign-global-obj-call.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.reassign-global-obj-call.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/object-capture-global-mutation.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-return-obj.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/reassign-global-return-obj.js
Due: enabled=false

[compiler] Bail out and log calls that likely have side effects
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
Due: enabled=false

chore[react-devtools]: add global for native and use it to fork backend implementation (#30533)
  .eslintrc.js
  packages/react-devtools-core/webpack.backend.js
  packages/react-devtools-extensions/webpack.backend.js
  packages/react-devtools-extensions/webpack.config.js
  packages/react-devtools-inline/webpack.config.js
  packages/react-devtools-shared/src/backend/console.js
  packages/react-devtools-shared/src/backend/shared/DevToolsComponentStackFrame.js
  scripts/flow/react-devtools.js
  scripts/jest/devtools/setupEnv.js
Due: enabled

chore[packages/react-devtools]: remove unused index.js
  packages/react-devtools/index.js
  packages/react-devtools/package.json
Due: enabled

added hello
  compiler/apps/playground/app/index.tsx
Due: enabled=false

add reply script, configs, and CCI config
  .github/ISSUE_TEMPLATE/19.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/compiler_bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/devtools_bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/compiler_playground.yml
  .github/workflows/compiler_rust.yml
  .github/workflows/compiler_typescript.yml
  .github/workflows/devtools_check_repro.yml
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_fuzz_tests.yml
  .github/workflows/runtime_prereleases.yml
  .github/workflows/runtime_prereleases_manual.yml
  .github/workflows/runtime_prereleases_nightly.yml
  .github/workflows/shared_lint.yml
  .github/workflows/shared_stale.yml
Due: none

add replay, configs, and CCI config
  .circleci/config.yml
  configs/.circleci/config.yml
  configs/.github/actions/setup_node_modules/action.yml
  configs/.github/workflows/build_and_test.yml
  replay_commits_benchmark.py
  requirements.txt
Due: enabled

temp remove when
  .circleci/config.yml
Due: enabled

switch to python image, add store artifact
  .circleci/config.yml
Due: enabled

add multiline
  .circleci/config.yml
Due: enabled

try quotes for upstream
  .circleci/config.yml
Due: enabled

add quotes to all
  .circleci/config.yml
Due: enabled

add repo import
  replay_commits_benchmark.py
Due: none

update requirement.txt
  requirements.txt
Due: none

[compiler] Validate against setState in useMemo (resubmit of #30552)
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/DropManualMemoization.ts
  compiler/packages/babel-plugin-react-compiler/src/Validation/ValidateNoSetStateInRender.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-global-mutation-unused-usecallback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-ref-access-in-effect-indirect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/allow-ref-access-in-effect-indirect.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-conditional-setState-in-useMemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-conditional-setState-in-useMemo.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo-indirect-useCallback.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo-indirect-useCallback.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.invalid-setState-in-useMemo.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/repro.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-named-function.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-named-function.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-nested-ifs.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/useMemo-return-empty.expect.md
Due: enabled=false

set upstream in step
  .circleci/config.yml
Due: enabled

nevermind
  .circleci/config.yml
Due: enabled

[compiler] Simplify FunctionExpression node
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

[compiler] Add flag for lowering context access
  compiler/packages/babel-plugin-react-compiler/src/HIR/Environment.ts
Due: enabled=false

[compiler] Refactor makeTemporary outside HIRBuilder
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
Due: enabled=false

[compiler] Add typing for useContext hook
  compiler/packages/babel-plugin-react-compiler/src/HIR/Globals.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/ObjectShape.ts
Due: enabled=false

name context correctly
  .circleci/config.yml
Due: enabled

fix days
  .circleci/config.yml
  replay_commits_benchmark.py
Due: enabled

move commit into loop
  replay_commits_benchmark.py
Due: none

remove branch from all build ids
  replay_commits_benchmark.py
Due: none

Allow highlighting/inspect HostSingletons/Hoistables and Resources
  packages/react-devtools-shared/src/backend/fiber/renderer.js
  packages/react-devtools-shared/src/backend/types.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Highlighter.js
  packages/react-devtools-shared/src/backend/views/Highlighter/Overlay.js
  packages/react-devtools-shared/src/backend/views/Highlighter/index.js
Due: enabled

temp remove branch delete
  .circleci/config.yml
  replay_commits_benchmark.py
Due: enabled

[compiler] Refactor createTemporaryPlace
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
Due: enabled=false

try to store configs in py
  replay_commits_benchmark.py
Due: none
