Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

Update base for Update on "[compiler] Add wrapper functions to wrap change-detection storage and loading from the memo cache"
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.expect.md
Due: enabled=false

Update base for Update on "[compiler][ez] Rename disableMemoizationForDebugging to just disableMemoization"
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Pipeline.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.expect.md
Due: enabled=false

[ci] Rename temporary build parts
  .github/workflows/runtime_build_and_test.yml
Due: none

[ci] Fork scripts/release/download-experimental-build.js
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

[ci] Use yargs to parse args to download-experimental-build
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

[ci] Add script to download artifact from github
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

[ci] Add sizebot to gh actions
  .github/workflows/runtime_build_and_test.yml
Due: none

[circleci] Inline scrape_warning_messages
  .circleci/config.yml
Due: enabled

[ci] Remove sizebot from circleci
  .circleci/config.yml
Due: enabled

update prettier config
  .prettierrc.js
  scripts/shared/pathsByLanguageVersion.js
Due: enabled

Update
  .github/workflows/runtime_build_and_test.yml
Due: none

Update (base update)
  .github/workflows/runtime_build_and_test.yml
Due: none

Update
  .git-blame-ignore-revs
Due: enabled

Update (base update)
  .git-blame-ignore-revs
  .github/workflows/runtime_build_and_test.yml
Due: enabled

[ci] Only run sizebot on pull requests
  .github/workflows/runtime_build_and_test.yml
Due: none

[ci] Fix sizebot job omitting build_and_lint dependency
  .github/workflows/runtime_build_and_test.yml
Due: none

Add run prettier commit to .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: enabled

[ci] Update sizebot node_modules caching strategy
  .github/workflows/runtime_build_and_test.yml
Due: none

[compiler][repro] Test fixture for fbt whitespace bug
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-param.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-param.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

Add `findSourceMapURL` to `ReactNoopFlightClient`
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
Due: enabled

Update base for Update on "[compiler] Add wrapper functions to wrap change-detection storage and loading from the memo cache"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.js
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

Update base for Update on "[compiler][ez] Rename disableMemoizationForDebugging to just disableMemoization"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/change-detect.js
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

[compiler] printTerminal always prints instruction id
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
Due: enabled=false

[compiler] Flatten scopes based on fallthrough, not scope range
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/FlattenScopesWithHooksOrUseHIR.ts
Due: enabled=false

Path conditions:
  enabled=false: any of: compiler/.*
  enabled: (((((((((((((((((((any of: .circleci/.*) or (any of: .codesandbox/.*)) or (any of: fixtures/.*)) or (any of: packages/.*)) or (any of: scripts/.*)) or (any of: .eslintignore)) or (any of: .eslintrc.js)) or (any of: .git-blame-ignore-revs)) or (any of: .gitattributes)) or (any of: .gitignore)) or (any of: .nvmrc)) or (any of: .prettierignore)) or (any of: .prettierrc.js)) or (any of: .watchmanconfig)) or (any of: babel.config.js)) or (any of: dangerfile.js)) or (any of: netlify.toml)) or (any of: package.json)) or (any of: ReactVersions.js)) or (any of: yarn.lock)
