Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

Remove allowConcurrentByDefault flag
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactTypeOfMode.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Due: enabled

Stop filtering owner stacks (#30438)
  packages/react-dom/src/__tests__/ReactDOMFizzServer-test.js
  packages/react-reconciler/src/ReactFiberComponentStack.js
  packages/react-reconciler/src/ReactFiberOwnerStack.js
  packages/react-server/src/ReactFizzComponentStack.js
  packages/react-server/src/ReactFizzOwnerStack.js
  packages/react-server/src/ReactFlightCallUserSpace.js
  packages/react-server/src/ReactFlightOwnerStack.js
  packages/react-server/src/ReactFlightServer.js
  packages/react-server/src/flight/ReactFlightComponentStack.js
  packages/shared/ReactOwnerStackFrames.js
Due: enabled

Update (base update)
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-func-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-func-expr.js
Due: enabled=false

Update
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-func-expr.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlining-in-func-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlining-in-func-expr.js
Due: enabled=false

Update
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
Due: enabled=false

Update
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlining-in-func-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlining-in-func-expr.js
Due: enabled=false

[Flight] Allow parens in filenames when parsing stackframes (#30396)
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightStackConfigV8.js
Due: enabled

Check length of compared arrays
  packages/react-reconciler/src/ReactFiberNewContext.js
Due: enabled

Update
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlining-in-func-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlining-in-func-expr.js
Due: enabled=false

[compiler] Repro for outlining bug in funcexprs
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-func-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-func-expr.js
Due: enabled=false

[compiler] Correctly insert (Arrow)FunctionExpressions
  compiler/packages/babel-plugin-react-compiler/src/Entrypoint/Program.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-func-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.bug-outlining-in-func-expr.js
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlining-in-func-expr.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/outlining-in-func-expr.js
Due: enabled=false

Fix resolving of references to deduped props in lazy elements
  packages/react-client/src/ReactFlightClient.js
Due: enabled

Add filterStackFrame options to FlightServer
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-server-dom-esm/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerNode.js
  packages/react-server/src/ReactFlightServer.js
Due: enabled

Fix existing usage of names/type in build command
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/build.js
Due: enabled

Use brackets instead of parenthesis in empty name eval
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
Due: enabled

[compiler] Fix FBT whitespace handling again (again (again))
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIRBuilder.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/bug-fbt-preserve-whitespace-param.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-subtree.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-subtree.tsx
  compiler/packages/snap/src/SproutTodoFilter.ts
Due: enabled=false

Update on "[compiler] Fix FBT whitespace handling again (again (again))"
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
Due: enabled=false

Don't call `waitForReference` for initialized chunks
  packages/react-client/src/ReactFlightClient.js
Due: enabled

Use brackets instead of parenthesis in empty name eval (#30449)
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
Due: enabled

Allow `SomeChunk` in `waitForReference`
  packages/react-client/src/ReactFlightClient.js
Due: enabled

Update on "[compiler] Fix FBT whitespace handling again (again (again))"
  compiler/packages/babel-plugin-react-compiler/src/HIR/BuildHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-subtree.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-subtree.tsx
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-two-subtrees.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/fbt/fbt-preserve-whitespace-two-subtrees.tsx
Due: enabled=false

Fix resolving of references to deduped props in lazy elements (#30441)
  packages/react-client/src/ReactFlightClient.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMBrowser-test.js
Due: enabled

Fix existing usage of names/type in build command (#30450)
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/build.js
Due: enabled

[compiler] Add tests for incorrect global mutation detection
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.js
Due: enabled=false

[compiler] Propogate effects stored in object props
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
Due: enabled=false

[compiler] Delete global mutation effects for objects passed as props
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
  compiler/packages/babel-plugin-react-compiler/src/Inference/InferReferenceEffects.ts
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/object-capture-global-mutation.js
Due: enabled=false

Update on "[compiler] Delete global mutation effects for objects passed as props"
  compiler/packages/babel-plugin-react-compiler/src/HIR/HIR.ts
  compiler/packages/babel-plugin-react-compiler/src/HIR/PrintHIR.ts
Due: enabled=false

Update base for Update on "[compiler] Propogate effects stored in object props"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.js
Due: enabled=false

Update on "[compiler] Add tests for incorrect global mutation detection"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.js
Due: enabled=false

Update base for Update on "[compiler] Delete global mutation effects for objects passed as props"
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.expect.md
  compiler/packages/babel-plugin-react-compiler/src/__tests__/fixtures/compiler/error.object-capture-global-mutation.js
Due: enabled=false

Create ReadMe
  ReadMe
Due: none

[Flight] Add filterStackFrame options to the RSC Server (#30447)
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-noop-renderer/src/ReactNoopFlightServer.js
  packages/react-server-dom-esm/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMServerNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMServerNode.js
  packages/react-server/src/ReactFlightServer.js
Due: enabled

Include environment name both in the virtual URL and findSourceMapURL
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Due: enabled

[Flight] Include environment name both in the virtual URL and findSourceMapURL (#30452)
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
Due: enabled

Configure the requested environment and annotate tasks at boundary between environments
  packages/react-client/src/ReactFlightClient.js
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientNode.js
Due: enabled

Configure the requested environment and annotate tasks at boundary between environments (#30455)
  packages/react-client/src/ReactFlightClient.js
  packages/react-noop-renderer/src/ReactNoopFlightClient.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-esm/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-turbopack/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientBrowser.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientEdge.js
  packages/react-server-dom-webpack/src/ReactFlightDOMClientNode.js
Due: enabled

Remove allowConcurrentByDefault flag (#30445)
  packages/react-dom/src/__tests__/ReactDOMRoot-test.js
  packages/react-dom/src/client/ReactDOMRoot.js
  packages/react-reconciler/src/ReactFiber.js
  packages/react-reconciler/src/ReactFiberLane.js
  packages/react-reconciler/src/ReactFiberReconciler.js
  packages/react-reconciler/src/ReactFiberRoot.js
  packages/react-reconciler/src/ReactTypeOfMode.js
  packages/react-test-renderer/src/ReactTestRenderer.js
  packages/react-test-renderer/src/__tests__/ReactTestRenderer-test.internal.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
Due: enabled

Path conditions:
  enabled=false: any of: compiler/.*
  enabled: (((((((((((((((((((any of: .circleci/.*) or (any of: .codesandbox/.*)) or (any of: fixtures/.*)) or (any of: packages/.*)) or (any of: scripts/.*)) or (any of: .eslintignore)) or (any of: .eslintrc.js)) or (any of: .git-blame-ignore-revs)) or (any of: .gitattributes)) or (any of: .gitignore)) or (any of: .nvmrc)) or (any of: .prettierignore)) or (any of: .prettierrc.js)) or (any of: .watchmanconfig)) or (any of: babel.config.js)) or (any of: dangerfile.js)) or (any of: netlify.toml)) or (any of: package.json)) or (any of: ReactVersions.js)) or (any of: yarn.lock)
