Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

[Fiber] use srcset to trigger load even on img mount (#30351)
  packages/react-dom-bindings/src/client/ReactFiberConfigDOM.js
Due: enabled

Enable owner stacks on the client when replaying logs
  packages/react-client/src/ReactFlightClient.js
  packages/react-client/src/__tests__/ReactFlight-test.js
  packages/react-server/src/ReactFlightServer.js
  packages/shared/ReactComponentInfoStack.js
Due: enabled

[Fiber] use srcset to trigger load even on img mount (#30351)
  compiled/facebook-www/REVISION
  compiled/facebook-www/REVISION_TRANSFORMS
  compiled/facebook-www/React-dev.classic.js
  compiled/facebook-www/React-dev.modern.js
  compiled/facebook-www/React-prod.classic.js
  compiled/facebook-www/React-prod.modern.js
  compiled/facebook-www/React-profiling.classic.js
  compiled/facebook-www/React-profiling.modern.js
  compiled/facebook-www/ReactART-dev.classic.js
  compiled/facebook-www/ReactART-dev.modern.js
  compiled/facebook-www/ReactART-prod.classic.js
  compiled/facebook-www/ReactART-prod.modern.js
  compiled/facebook-www/ReactDOM-dev.classic.js
  compiled/facebook-www/ReactDOM-dev.modern.js
  compiled/facebook-www/ReactDOM-prod.classic.js
  compiled/facebook-www/ReactDOM-prod.modern.js
  compiled/facebook-www/ReactDOM-profiling.classic.js
  compiled/facebook-www/ReactDOM-profiling.modern.js
  compiled/facebook-www/ReactDOMServer-dev.classic.js
  compiled/facebook-www/ReactDOMServer-dev.modern.js
  compiled/facebook-www/ReactDOMServer-prod.classic.js
  compiled/facebook-www/ReactDOMServer-prod.modern.js
  compiled/facebook-www/ReactDOMTesting-dev.classic.js
  compiled/facebook-www/ReactDOMTesting-dev.modern.js
  compiled/facebook-www/ReactDOMTesting-prod.classic.js
  compiled/facebook-www/ReactDOMTesting-prod.modern.js
  compiled/facebook-www/ReactReconciler-dev.classic.js
  compiled/facebook-www/ReactReconciler-dev.modern.js
  compiled/facebook-www/ReactReconciler-prod.classic.js
  compiled/facebook-www/ReactReconciler-prod.modern.js
  compiled/facebook-www/ReactTestRenderer-dev.classic.js
  compiled/facebook-www/ReactTestRenderer-dev.modern.js
  compiled/facebook-www/VERSION_CLASSIC
  compiled/facebook-www/VERSION_MODERN
Due: none

Add git info to `package.json` files in compiler packages
  compiler/package.json
  compiler/packages/babel-plugin-react-compiler/package.json
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/make-read-only-util/package.json
  compiler/packages/react-compiler-healthcheck/package.json
  compiler/packages/react-compiler-runtime/package.json
  compiler/packages/snap/package.json
Due: enabled=false

Update
  .github/workflows/runtime_commit_artifacts_v2.yml
Due: none

Update
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_commit_artifacts_v2.yml
Due: none

Update (base update)
  .github/workflows/runtime_commit_artifacts_v2.yml
Due: none

[ci] Add commit steps to new runtime_commit_artifacts_v2
  .github/workflows/runtime_commit_artifacts_v2.yml
Due: none

[ci] Unfork runtime_commit_artifacts
  .github/workflows/runtime_commit_artifacts.yml
  .github/workflows/runtime_commit_artifacts_v2.yml
Due: none

Update
  .github/workflows/runtime_commit_artifacts.yml
Due: none

Update
  .circleci/config.yml
Due: enabled

Update (base update)
  .github/workflows/runtime_commit_artifacts.yml
Due: none

Require array return
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberNewContext.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/__tests__/ReactContextWithBailout-test.js
  packages/react/src/ReactHooks.js
Due: enabled

Rename compare->select
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-reconciler/src/ReactFiberNewContext.js
  packages/react-reconciler/src/ReactInternalTypes.js
  scripts/error-codes/codes.json
Due: enabled

Update (base update)
  .circleci/config.yml
  .github/workflows/runtime_commit_artifacts.yml
Due: enabled

Update
  .github/workflows/devtools_regression_tests.yml
  .github/workflows/runtime_build_and_test.yml
  .github/workflows/runtime_commit_artifacts.yml
  packages/react/src/__tests__/ReactClassEquivalence-test.js
  scripts/jest/config.base.js
  scripts/jest/jest-cli.js
  scripts/jest/jestSequencer.js
  scripts/release/download-experimental-build-ghaction.js
  scripts/release/download-experimental-build.js
  scripts/rollup/build-all-release-channels.js
  scripts/rollup/build-ghaction.js
  scripts/rollup/build.js
  scripts/rollup/stats.js
Due: enabled

[ci] Update runtime_commit_artifacts step versions
  .github/workflows/runtime_commit_artifacts.yml
Due: none

[circleci] Remove build_and_test workflow
  .circleci/config.yml
Due: enabled

Update
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

Update
  scripts/release/download-experimental-build-ghaction.js
  scripts/release/shared-commands/download-build-artifacts-ghaction.js
Due: enabled

Update (base update)
  scripts/release/download-experimental-build-ghaction.js
Due: enabled

Update (base update)
  scripts/release/download-experimental-build-ghaction.js
  scripts/release/shared-commands/download-build-artifacts-ghaction.js
Due: enabled

Update
  scripts/release/prepare-release-from-ci.js
Due: enabled

[compiler] Add git info to `package.json` files in compiler packages (#30475)
  compiler/package.json
  compiler/packages/babel-plugin-react-compiler/package.json
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/make-read-only-util/package.json
  compiler/packages/react-compiler-healthcheck/package.json
  compiler/packages/react-compiler-runtime/package.json
  compiler/packages/snap/package.json
Due: enabled=false

Update (base update)
  scripts/release/shared-commands/download-build-artifacts-ghaction.js
Due: enabled

Update
  scripts/release/shared-commands/download-build-artifacts-ghaction.js
Due: enabled

f
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberNewContext.js
  packages/react/src/ReactHooks.js
Due: enabled

Add unstable context bailout for profiling (#30407)
  packages/react-debug-tools/src/ReactDebugHooks.js
  packages/react-reconciler/src/ReactFiberHooks.js
  packages/react-reconciler/src/ReactFiberNewContext.js
  packages/react-reconciler/src/ReactInternalTypes.js
  packages/react-reconciler/src/__tests__/ReactContextWithBailout-test.js
  packages/react/index.fb.js
  packages/react/src/ReactClient.js
  packages/react/src/ReactHooks.js
  packages/shared/ReactFeatureFlags.js
  packages/shared/forks/ReactFeatureFlags.native-fb.js
  packages/shared/forks/ReactFeatureFlags.native-oss.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.native-fb.js
  packages/shared/forks/ReactFeatureFlags.test-renderer.www.js
  packages/shared/forks/ReactFeatureFlags.www.js
  scripts/error-codes/codes.json
Due: enabled

[ci] Refactor download-build-artifacts
  scripts/release/download-experimental-build-ghaction.js
  scripts/release/shared-commands/download-build-artifacts-ghaction.js
Due: enabled

[ci] Update prepare-release-from-ci to dl from GH
  scripts/release/prepare-release-from-ci.js
Due: enabled

Path conditions:
  enabled=false: any of: compiler/.*
  enabled: (((((((((((((((((((any of: .circleci/.*) or (any of: .codesandbox/.*)) or (any of: fixtures/.*)) or (any of: packages/.*)) or (any of: scripts/.*)) or (any of: .eslintignore)) or (any of: .eslintrc.js)) or (any of: .git-blame-ignore-revs)) or (any of: .gitattributes)) or (any of: .gitignore)) or (any of: .nvmrc)) or (any of: .prettierignore)) or (any of: .prettierrc.js)) or (any of: .watchmanconfig)) or (any of: babel.config.js)) or (any of: dangerfile.js)) or (any of: netlify.toml)) or (any of: package.json)) or (any of: ReactVersions.js)) or (any of: yarn.lock)
