Repository facebook/react: changes, and which CircleCI parameters are due for each by the changed paths.
All: enabled=false, enabled

Split dom-legacy into a separate markup dimensions
  packages/react-client/src/forks/ReactFlightClientConfig.dom-legacy.js
  packages/react-client/src/forks/ReactFlightClientConfig.markup.js
  packages/react-reconciler/src/forks/ReactFiberConfig.markup.js
  packages/react-server/src/forks/ReactFizzConfig.markup.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
  packages/react-server/src/forks/ReactFlightServerConfig.markup.js
  packages/react-server/src/forks/ReactServerStreamConfig.markup.js
  scripts/shared/inlinedHostConfigs.js
Due: enabled

Fork the Fizz Config for HTML
  packages/react-html/src/ReactFizzConfigHTML.js
  packages/react-html/src/ReactHTMLClient.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-server/src/forks/ReactFizzConfig.markup.js
Due: enabled

Error if event handlers or refs are passed to host components
  packages/react-html/src/ReactFizzConfigHTML.js
  scripts/error-codes/codes.json
Due: enabled

Make a configurable Fizz Hooks Dispatchers that errors for client Hooks
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOMLegacy.js
  packages/react-html/src/ReactFizzConfigHTML.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/forks/ReactFizzConfig.custom.js
  scripts/error-codes/codes.json
Due: enabled

Gate this test on disabling the client cache
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
Due: enabled

[fix] replace polyfill.io with cloudflare equivalent
  fixtures/dom/public/renderer.html
Due: enabled

[fix] replace polyfill.io with cloudflare equivalent (#30123)
  fixtures/dom/public/renderer.html
Due: enabled

Add renderToMarkup for Client Components (#30121)
  packages/react-client/src/forks/ReactFlightClientConfig.dom-legacy.js
  packages/react-client/src/forks/ReactFlightClientConfig.markup.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOM.js
  packages/react-dom-bindings/src/server/ReactFizzConfigDOMLegacy.js
  packages/react-html/npm/index.js
  packages/react-html/src/ReactFizzConfigHTML.js
  packages/react-html/src/ReactHTMLClient.js
  packages/react-html/src/ReactHTMLServer.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-reconciler/src/forks/ReactFiberConfig.markup.js
  packages/react-server/src/ReactFizzHooks.js
  packages/react-server/src/forks/ReactFizzConfig.custom.js
  packages/react-server/src/forks/ReactFizzConfig.markup.js
  packages/react-server/src/forks/ReactFlightServerConfig.dom-legacy.js
  packages/react-server/src/forks/ReactFlightServerConfig.markup.js
  packages/react-server/src/forks/ReactServerStreamConfig.markup.js
  scripts/error-codes/codes.json
  scripts/rollup/bundles.js
  scripts/rollup/forks.js
  scripts/shared/inlinedHostConfigs.js
Due: enabled

Prefix html tags with doctype
  packages/react-html/src/ReactFizzConfigHTML.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
Due: enabled

Add renderToMarkup for Client Components (#30121)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

Add doctype to renderToMarkup when html tags are rendered (#30122)
  packages/react-html/src/ReactFizzConfigHTML.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
Due: enabled

Only build react-html in experimental channel
  packages/react-html/src/ReactHTMLClient.stable.js
  packages/react-html/src/ReactHTMLServer.stable.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  scripts/rollup/bundles.js
Due: enabled

Only build react-html in experimental channel (#30129)
  packages/react-html/src/ReactHTMLClient.stable.js
  packages/react-html/src/ReactHTMLServer.stable.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  scripts/rollup/bundles.js
Due: enabled

Only build react-html in experimental channel (#30129)
  compiled-rn/VERSION_NATIVE_FB
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react-test-renderer/cjs/ReactTestRenderer-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-dev.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-prod.js
  compiled-rn/facebook-fbsource/xplat/js/RKJSModules/vendor/react/react/cjs/React-profiling.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/REVISION
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactFabric-profiling.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-dev.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-prod.fb.js
  compiled-rn/facebook-fbsource/xplat/js/react-native-github/Libraries/Renderer/implementations/ReactNativeRenderer-profiling.fb.js
Due: none

react-html should be able to render large strings
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
Due: enabled

Make byteLengthOfChunk Optional
  packages/react-dom-bindings/src/server/ReactDOMLegacyServerStreamConfig.js
  packages/react-server/src/ReactFlightServer.js
Due: enabled

[Flight] Make byteLengthOfChunk Optional (#30130)
  packages/react-dom-bindings/src/server/ReactDOMLegacyServerStreamConfig.js
  packages/react-html/src/__tests__/ReactHTMLClient-test.js
  packages/react-html/src/__tests__/ReactHTMLServer-test.js
  packages/react-server/src/ReactFlightServer.js
Due: enabled

feat: use u to - size
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

Allow Flight Client to be implemented by parsing pass-through string chunks
  packages/react-client/src/ReactFlightClient.js
  scripts/error-codes/codes.json
Due: enabled

Leave large strings unencoded in Node streams
  packages/react-server-dom-webpack/src/ReactFlightDOMClientNode.js
  packages/react-server-dom-webpack/src/__tests__/ReactFlightDOMNode-test.js
  packages/react-server/src/ReactServerStreamConfigNode.js
Due: enabled

Process Flight Chunks as Strings in renderToMarkup
  packages/react-html/src/ReactHTMLLegacyClientStreamConfig.js
  packages/react-html/src/ReactHTMLServer.js
Due: enabled

Create bajibegum
  bajibegum
Due: none

Run Server Components in console.createTask when available
  fixtures/flight/package.json
  packages/react-server/src/ReactFlightServer.js
Due: enabled

Replace .filter.map with a single reduce
  scripts/bench/benchmark.js
  scripts/devtools/package-lock.json
  scripts/devtools/utils.js
Due: enabled

Remove redundant check
  scripts/bench/runner.js
  scripts/devtools/yarn.lock
Due: enabled

Simplify expression
  scripts/flow/createFlowConfigs.js
Due: enabled

Minor string simplification
  dangerfile.js
Due: enabled

Revert yarn lock
  scripts/devtools/yarn.lock
Due: enabled

Remove package-lock
  scripts/devtools/package-lock.json
Due: enabled

chore[compiler/eslint]: replace deprecated dep `@babel/plugin-proposal-private-methods` to `@babel/plugin-transform-private-methods`
  compiler/packages/eslint-plugin-react-compiler/package.json
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
  compiler/yarn.lock
Due: enabled=false

style: lint
  compiler/packages/eslint-plugin-react-compiler/src/rules/ReactCompilerRule.ts
Due: enabled=false

[compiler] Clone computation block in change detection mode
  compiler/packages/babel-plugin-react-compiler/src/ReactiveScopes/CodegenReactiveFunction.ts
Due: enabled=false

[prettier][eslint] Support sapling in prettier changed files command
  scripts/shared/listChangedFiles.js
Due: enabled

chore[react-devtools/ui]: fix strict mode badge styles
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.css
  packages/react-devtools-shared/src/devtools/views/Components/InspectedElement.js
Due: enabled

[compiler] Flow support for playground
  compiler/apps/playground/components/Editor/EditorImpl.tsx
  compiler/apps/playground/components/Editor/Input.tsx
  compiler/apps/playground/lib/types.d.ts
  compiler/apps/playground/next.config.js
  compiler/apps/playground/package.json
  compiler/yarn.lock
Due: enabled=false

Update on "[compiler] Flow support for playground"
  compiler/apps/playground/components/Editor/EditorImpl.tsx
  compiler/apps/playground/components/Editor/Input.tsx
  compiler/apps/playground/next.config.js
Due: enabled=false

[compiler][playground] Formatting changes to pass tabs
  compiler/apps/playground/components/Editor/Output.tsx
Due: enabled=false

Path conditions:
  enabled=false: any of: compiler/.*
  enabled: (((((((((((((((((((any of: .circleci/.*) or (any of: .codesandbox/.*)) or (any of: fixtures/.*)) or (any of: packages/.*)) or (any of: scripts/.*)) or (any of: .eslintignore)) or (any of: .eslintrc.js)) or (any of: .git-blame-ignore-revs)) or (any of: .gitattributes)) or (any of: .gitignore)) or (any of: .nvmrc)) or (any of: .prettierignore)) or (any of: .prettierrc.js)) or (any of: .watchmanconfig)) or (any of: babel.config.js)) or (any of: dangerfile.js)) or (any of: netlify.toml)) or (any of: package.json)) or (any of: ReactVersions.js)) or (any of: yarn.lock)
